body {
  background-image: linear-gradient(to bottom right, #3498db, #2ecc71);
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}
.error{
  color: red;
  font-size: 16px;
  font-weight: bold;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.message-box {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}
    .messages {
        display: flex;
        flex-direction: column;
    }

    .message-sent {
        align-self: flex-end;
        background-color: #3b4cde;
        border-radius: 10px;
        padding: 8px;
        margin: 5px;
    }

    .message-received {
        align-self: flex-start;
        background-color: #ECECEC;
        border-radius: 10px;
        padding: 8px;
        margin: 5px;
    }
