<style>
    .sent-message {
        background-color: #008080; /* Set your desired color for sent messages */
        color: white;
        text-align: right;
    }

    .received-message {
        background-color: #d3d3d3; /* Set your desired color for received messages */
        color: black;
        text-align: left;
    }

    .message-container {
        overflow: hidden;
    }

    .message-container div {
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
    }
</style>

{% extends 'base.html' %}
{% block content %}

<div class="message-box">
    <div class="message-box" style="background-color: blue; height: 30px; text-align: center; color: white; font-weight: bold;">Message App</div>
    <h2>Chat Room: {{ code }}</h2>
    <div class="messages" id="messages"></div>

    <div class="inputs">
        <input type="text" rows="3" style="height: 30px;" placeholder="Type a message..." name="message" id="message" />
        <button>
            <input type="file" id="image" name="image" accept="image/*" style="display: none;" />
            <label for="image" class="custom-file-upload">
                <img src="https://emojigraph.org/media/au-kddi/paperclip_1f4ce.png" style="height: 25px;"/>
            </label>
        </button>

        <button onclick="sendMessage()">
            <img src="https://cdn-icons-png.flaticon.com/512/561/561226.png" style="height: 25px; "/>
        </button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('message', function(data) {
        displayMessage(data);
    });

    function displaySelectedImage() {
        var input = document.getElementById('image');
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var preview = document.getElementById('image-preview');
                preview.innerHTML = '<img src="' + e.target.result + '" alt="Selected Image" style="max-width: 100%;">';
            };
            reader.readAsDataURL(file);
        }
    }

    function getCurrentTime() {
        var now = new Date();
        var hours = now.getHours().toString().padStart(2, '0');
        var minutes = now.getMinutes().toString().padStart(2, '0');
        return hours + ':' + minutes;
    }

    function displayMessage(data) {
        var messagesDiv = document.getElementById('messages');
        var messageDiv = document.createElement('div');
        var timestamp = getCurrentTime();
        messageDiv.innerHTML = '<div class="message-container">' +
            '<div class="' + (data.name === 'A' ? 'sent-message' : 'received-message') + '">' +
            '<span style="color: #888;">[' + timestamp + ']</span> <strong>' + data.name + ':</strong> ' + data.message +
            '</div>' +
            '</div>';
        messagesDiv.appendChild(messageDiv);
    }

    function sendMessage() {
        var input = document.getElementById('message');
        var message = input.value;

        if (message.trim() !== '') {
            socket.emit('message', { 'message': message, 'name': 'A' });
        } else {
            var fileInput = document.getElementById('image');
            var file = fileInput.files[0];

            if (file) {
                var formData = new FormData();
                formData.append('file', file);

                fetch('https://faaf-113-160-224-57.ngrok-free.app/message/image', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {

                    var imageMessage = '<div class="message-container">' +
                        '<div class="sent-message">' +
                        '<img src="' + data.image_url + '" alt="Image" style="max-width: 100%;">' +
                        '</div>' +
                        '</div>';
                    var audioMessage = '<audio controls><source src="' + data.audio_url + '" type="audio/mp3">Your browser does not support the audio tag.</audio>';
                    var combinedMessage = imageMessage + '<br>' + audioMessage;
                    socket.emit('message', { 'message': combinedMessage, 'name': 'A' });
                    document.getElementById('messages').innerHTML = '';
                })
                .catch(error => console.error('Error:', error));
                fileInput.value = '';
                document.getElementById('image-preview').innerHTML = ''
            }
        }
     input.value = '';
    }

</script>
{% endblock %}
